services:
  frontend:
    ports:
      - 8080:5173
    build:
      context: .
      dockerfile: Frontend.Dockerfile
    environment:
      PUBLIC_DATA_RETRIEVAL_MIDDLEWARE_PORT: $PUBLIC_DATA_RETRIEVAL_MIDDLEWARE_PORT
      PUBLIC_DATA_COLLECTION_MIDDLEWARE_PORT: $PUBLIC_DATA_COLLECTION_MIDDLEWARE_PORT
      PUBLIC_TWEET_GENERATION_MIDDLEWARE_PORT: $PUBLIC_TWEET_GENERATION_MIDDLEWARE_PORT
  data-providing-middleware:
    ports:
      - $PUBLIC_DATA_RETRIEVAL_MIDDLEWARE_PORT:$PUBLIC_DATA_RETRIEVAL_MIDDLEWARE_PORT
    build:
      context: .
      dockerfile: DataRetrieval.Dockerfile
      args:
        PORT: $PUBLIC_DATA_RETRIEVAL_MIDDLEWARE_PORT
        SSH_HOST: $SSH_HOST
        SSH_PASSWD: $SSH_PASSWD
    environment:
      PATH_TO_DATA_FILES: ../../../data/
      ES_URL: $ES_URL
      ES_INDEX: $ES_INDEX
      ES_USERNAME: $ES_USERNAME
      ES_PASSWD: $ES_PASSWD
  data-collecting-middleware:
    ports:
      - $PUBLIC_DATA_COLLECTION_MIDDLEWARE_PORT:$PUBLIC_DATA_COLLECTION_MIDDLEWARE_PORT
    build:
      context: ./src/middleware
      dockerfile: ../../DataCollection.Dockerfile
      args:
        PORT: $PUBLIC_DATA_COLLECTION_MIDDLEWARE_PORT
    environment:
      BEARER_TOKEN: $BEARER_TOKEN
      ES_URL: $ES_URL
      ES_INDEX: $ES_INDEX
      ES_USERNAME: $ES_USERNAME
      ES_PASSWD: $ES_PASSWD
  tweet-generating-middleware:
    ports:
      - $PUBLIC_TWEET_GENERATION_MIDDLEWARE_PORT:$PUBLIC_TWEET_GENERATION_MIDDLEWARE_PORT
    build:
      context: .
      dockerfile: TweetGeneration.Dockerfile
      args:
        PORT: $PUBLIC_TWEET_GENERATION_MIDDLEWARE_PORT
        SSH_HOST: $SSH_HOST
        SSH_PASSWD: $SSH_PASSWD
    environment:
      PATH_TO_DATA_FILES: ../../../data/
      BEARER_TOKEN: $BEARER_TOKEN
      ES_URL: $ES_URL
      ES_INDEX: $ES_INDEX
      ES_USERNAME: $ES_USERNAME
      ES_PASSWD: $ES_PASSWD