:root {
    --twitter-dimmed-bg-color: #15202B;
    --twitter-dimmed-primary-color: #1A8EDB;
    --twitter-dimmed-primary-color-transparent: #1a8edb88;
    --twitter-dimmed-secondary-color: #1C2732;
    --twitter-dimmed-trends-color: #1E2732;
    --twitter-dimmed-search-color: #273340;
    --chat-gpt-side-bar-color: #202123;
    --chat-gpt-main-color: #444654;
    --chat-gpt-secondary-color: #343541;
    --qatar-color: #630E2B;

    --primary-color: var(--twitter-dimmed-primary-color);
    --primary-transparent: var(--twitter-dimmed-primary-color-transparent);
    --secondary-color: var(--qatar-color);
    --background-color: var(--twitter-dimmed-bg-color);
    --surface-color: var(--twitter-dimmed-trends-color);
    --text-color: #FFFFFF;
    --link-color: var(--primary-color);
    --nav-link-color: rgba(255, 255, 255, 0.5);
    --nav-link-color-hovered: var(--secondary-color);
    --nav-link-heading-color: rgba(255, 255, 255, 0.25);

    // custom components
    --nav-bar-color: var(--twitter-dimmed-search-color);
    --side-bar-color: var(--twitter-dimmed-trends-color);
    --basic-card-background-color: var(--surface-color);
    --breadcrumbs-background-color: var(--surface-color);
}

:global([data-theme="light"]) {
    --text-color: #000000;
    --background-color: #FFFFFF;
    --nav-link-color: rgba(0, 0, 0, 0.75);
    --nav-link-color-hovered: var(--primary-color);
    --nav-link-heading-color: rgba(0, 0, 0, 0.5);

    --nav-bar-color: #282A35;
    --side-bar-color: #E7E9EB;
    --surface-color: #E7E9EB;
    --basic-card-background-color: #FFFFFF;
    --breadcrumbs-background-color: #EEEEEE;
    --link-color: var(--primary-color);
}

:global([data-theme="dark"]) {
    --primary-color: var(--twitter-dimmed-primary-color);
    --secondary-color: var(--qatar-color);
    --background-color: var(--twitter-dimmed-bg-color);
    --surface-color: var(--twitter-dimmed-trends-color);
    --text-color: #FFFFFF;
    --link-color: var(--primary-color);
    --nav-link-color: rgba(255, 255, 255, 0.5);
    --nav-link-color-hovered: var(--secondary-color);
    --nav-link-heading-color: rgba(255, 255, 255, 0.25);

    // custom components
    --nav-bar-color: var(--twitter-dimmed-search-color);
    --side-bar-color: var(--twitter-dimmed-trends-color);
    --basic-card-background-color: var(--surface-color);
    --breadcrumbs-background-color: var(--surface-color);
}

a.nav-link,
div.sb-nav-link-icon {
    color: var(--nav-link-color) !important;
}

div.sb-sidenav-menu-heading {
    color: var(--nav-link-heading-color) !important;
}
// secondary color
a.nav-link:hover {
    color: var(--nav-link-color-hovered) !important;
}

// text color
p,
h1,
h2,
h3,
h4,
h5,
strong,
.m-0,
th,
td,
li.active.breadcrumb-item,
b.inv,
li.s-GLbwxcRWqclP,
li.s-ohTpp-SwD4s-,
legend,
label,
.table-striped>tbody>tr:nth-of-type(odd)>*,
label.form-check-label,
div.card-body,
div.card-footer,
.mdc-deprecated-list-item__text {
    color: var(--text-color);
}

a {
    color: var(--link-color);
}

// primary color
div.progress-bar,
.spinner-border.ml-4.text-twitter-color,
button.btn-secondary {
    background-color: var(--primary-color);
}

// surface color
textarea,
input,
.btn-secondary:hover,
.form-select,
div.accordion-item,
div.modal-content,
.accordion-button:not(.collapsed),
.collapsed.accordion-button {
    background-color: var(--surface-color) !important;
    border: 1px solid var(--primary-color) !important;
    color: var(--text-color) !important;
}

input.form-range {
    border: none !important;
    background-color: var(--background-color) !important;
}

// set background colors
div.accordion-body,
th,
td,
input.form-control:disabled,
div.modal-content.svelte-q841md,
table.table-dark {
    background-color: var(--background-color) !important;
    border: 1px solid var(--primary-color) !important;
}

// cards
div.card {
    background-color: var(--basic-card-background-color);
    border: 1px solid var(--primary-color);
}

div.card-header {
    padding-left: 30px;
}

// shadows
.shadow {
    box-shadow: 0 0.5rem 1rem var(--primary-color) !important;
}

select.form-select:focus {
    box-shadow: 0 0 0 0.2rem var(--primary-transparent);
}

// breadcrumbs
.breadcrumb {
    background-color: var(--breadcrumbs-background-color);
    border: 1px solid var(--primary-color) !important;
}

p.hint {
    font-size: small;
}